root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 80
trim_trailing_whitespace = true

[{*.c, *.h}]
indent_style = tab

[*.md]
trim_trailing_whitespace = false

[Dockerfile]
indent_style = tab
